.idea
comicreader-web.iml
public/*

/reader/dist
/reader/tmp
/reader/node_modules
/reader/bower_components
/reader/.sass-cache
/reader/connect.lock
/reader/coverage/*
/reader/libpeerconnection.log
/reader/npm-debug.log*
/reader/testem.log

!public/.gitkeep
